<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <appSettingsChanged>true</appSettingsChanged>
  <SettingsPath>.</SettingsPath>
  <Archive>/Users/cablej01/</Archive>
  <RunInForeground>true</RunInForeground>
  <RunAsService>false</RunAsService>
  <City />
  <Station />
  <Logfolder>/Users/cablej01/Documents/workspace/BBCIngest</Logfolder>
  <LogUrl />
  <PostLogs>false</PostLogs>
  <MinutesBefore>4</MinutesBefore>
  <MaxAgeMinutes>600</MaxAgeMinutes>
  <Basename>?format=redirect&amp;cid=wiwc1nbymq&amp;pid=w13xttlc&amp;x=</Basename>
  <Prefix>http://57iy69iy4b.execute-api.eu-west-1.amazonaws.com/prod/PodcastAPI</Prefix>
  <Suffix />
  <Webdate />
  <Minutepattern>00,30</Minutepattern>
  <Hourpattern>*</Hourpattern>
  <Discdate />
  <UseLocaltime>false</UseLocaltime>
  <BroadcastMinuteAfter>0</BroadcastMinuteAfter>
  <RetryIntervalSeconds>60</RetryIntervalSeconds>
  <SafePublishing>true</SafePublishing>
  <PublishFolder>pub/</PublishFolder>
  <PublishName>pidginminute</PublishName>
  <PublishFormat>mp3</PublishFormat>
  <UpdateAllEditions>false</UpdateAllEditions>
</AppSettings>
